@model Restaurant
@{ 
    ViewBag.Title = "Create";
}
<h1>Create</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cuisine)
        @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)), new { @class = "form-control", style = "width: 300px" })
        @Html.ValidationMessageFor(m => m.Cuisine)
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}